.item{
    height: calc(100vh - 80px) !important;
}
/* .smallimg{
  display: flex !important;
} */

.smallimg img{
    transition: .3s;
    outline: 4px solid transparent;
    outline-offset: -30px;
    /* aspect-ratio: 2.5/2; */
    /* mix-blend-mode: color-burn; */
  
  }
  .smallimg img:hover{
    transform: scale(.6);
    outline: 6px double rgb(255, 181, 128);
    outline-offset: 30px;
    border-radius: 10px;
  }